# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Model artifacts (opsional: jika Anda ingin commit langsung ke Git)
models/*.bin
models/*.csv

# Logs
*.log
